@import "../../../../Sass/variables";

.over {
  background-color: $white;
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  &-data {
    position: relative;
    // top: 0%;
    text-align: center;
    &_title {
      font-weight: $font-bold;
      font-size: $h-lg-font;
      color: $grey-900;
      margin-top: 20px;
    }
    &_sub--title {
      font-weight: $font-medium;
      font-size: $b-lg-font;
      color: $grey-900;
      margin: 10px 0px;
    }
    &_btns--holder {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      &-btn {
        max-width: 80%;
        width: 430px !important;
      }
    }
  }
}
