@import "./../../../Sass/variables";
.beuti-input,
.beuti-textarea {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 18px;
  &__label {
    color: $grey-900;
    font-weight: $font-medium;
    font-size: $b-md-font;
    // position: absolute;
    // top: -24px;
  }
  &__field {
    border: 1px solid $grey-300;
    height: $md-height;
    padding: 0 13px;
    border-radius: 6px;
    &:focus {
      outline: none;
      border-color: $main-normal;
    }
    &-error {
      border-color: $danger !important;
    }
  }
  &__info {
    position: absolute;
    top: 53%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__err {
    color: #e76363 !important;
  }
  &__infoLeft {
    left: 0px;
  }
  &__infoRight {
    right: 0px;
  }
  &__infoDisabled {
    color: #374151;
  }
  &__errormsg {
    color: $danger;
    position: absolute;
    font-size: 12px;
    bottom: -18px;
    margin-bottom: 0px;
  }
  &__note {
    color: #6b7280;
    position: absolute;
    font-size: 12px;
    bottom: -18px;
    margin-bottom: 0px;
  }
}
.beuti-textarea__field {
  height: auto;
  padding: unset;
  resize: none;
  padding: 15px;
  height: 100px;
}
